{$contentClass}
  table
    display table
    width 100%
    margin 12px 0 0 0
    
    border-collapse collapse
    font-size 14px
    line-height 1.5
    color #34495e
    tr
      border none
      background-color #fff
    th
      border none
      font-weight 600
      padding 8px 10px
      text-align left
      white-space nowrap
    td
      border none
      border-top 1px solid #f1f4f8
      padding 8px
      word-wrap break-word

  h2
    border none