vendors = official
// https://stylus-lang.com/docs/keyframes.html#expansion

$dialog-container-width = 270px
$dialog-container-border-radius = 2px
$dialog-bgc = $color-white
$dialog-btn-secondary-highlight-active-bgc = rgba(252, 145, 83, .04)

// icon
$dialog-icon-bgc = $color-background
$dialog-icon-container-margin-top = 20px
$dialog-icon-container-margin-bottom = 16px
$dialog-icon-container-width = 30px
$dialog-icon-container-height = 30px
$dialog-icon-container-padding = 10px
$dialog-icon-container-border-radius = 50%

// title
$dialog-icon-next-title-margin-top = 0px
$dialog-title-default-margin-top = 25px
$dialog-title-default-margin-left = 16px
$dialog-title-default-margin-right = 16px
$dialog-title-default-margin-bottom = 0
$dialog-title-color = $color-biz-dark-grey
$dialog-title-margin-top = 24px
$dialog-title-def-color = $color-dark-grey-s
$dialog-title-def-font-size = $font-size-3xl
$dialog-title-def-line-height = 25px

// content
$dialog-icon-next-content-margin-top = -4px
$dialog-title-next-content-margin-top = 12px
$dialog-content-container-margin = 16px 0
$dialog-content-container-line-height = 22px
$dialog-content-def-padding = 0 25px
$dialog-content-next-input-margin-top = 12px
$dialog-content-color = $color-dark-grey-s
$dialog-content-margin-top = 10px
$dialog-content-margin-bottom = 20px
$dialog-content-def-text-align = justify

// button
$dialog-button-padding = 17px 10px
$dialog-btn-color = $color-primary
$dialog-btn-bgc = $color-white
$dialog-btn-active-bgc = $color-light-grey-opacity
$dialog-btn-highlight-color = $color-primary
$dialog-btn-highlight-active-bgc = $dialog-btn-secondary-highlight-active-bgc
$dialog-btn-disabled-color = $text-color-hint
$dialog-btn-disabled-active-bgc = transparent
$dialog-btns-split-color = $border-color-normal
$dialog-btn-line-height = 21px


// close
$dialog-close-width = 32px
$dialog-close-height = 32px
$dialog-close-color = $color-dark-grey


// head-icon
$dialog-head-icon-width = 85px
$dialog-head-icon-height = $dialog-head-icon-width
$dialog-head-icon-border-radius = 50%
$dialog-head-icon-margin-top = -42.5px


/* 司机侧 dialog 样式重写 */
$dialog-btn-half-width = 50%
$dialog-btn-width = 100%

// animation
$dialog-zoom-animation = dialog-zoom .3s ease-in-out

@keyframes dialog-zoom
  0%
    transform scale(0)
  50%
    transform scale(1.1)
  100%
    transform scale(1)
