// @type body
$radio-modal-body-padding-right = 0 - $modal-body-padding-right

// @type subtitle
$radio-modal-subtitle-padding-right = $modal-body-padding-right

// @type radio
$radio-modal-item-padding-right = $modal-body-padding-right
$radio-modal-item-bottom-border-color = #e1e2e6