// radio background
$radio-inner-ui-bgc = $color-primary
$radio-ui-bgc = #fff
$radio-ui-bgc_disabled = $fill-bgc
$radio-ui-bgimg = none

// radio size
$radio-ui-width = 18px
$radio-inner-ui-width = 10px
$radio-inner-ui-scale-size = 1
$radio-ui-scale-size = 1

// radio border
$radio-ui-border_disabled = 1px solid $color-disabled
$radio-ui-border_checked = 1px solid $color-primary

// radio margin
$radio-ui-margin = 0 0 0 10px
$radio-ui-margin-right = 10px
$radio-label-mr_left = 10px
$radio-label-mr_right = 28px

// radio padding
$radio-label-padding = 10px 0

// tick
$radio-inner-ui-tick = tick-radio-passenger

// transition
$radio-ui_checked-transition = none
$radio-ui-transform = none

$radio-label-opacity_disabled = .3
$radio-label-color_disabled = unset

// transition
$radio-inner-ui-transition = transform .2s linear
