$toast-dark-opacity-bgc := rgba(0, 0, 0, 0.8)

// toast
$toast-z-index = 900
$toast-color = $color-white
$toast-bgc = $toast-dark-opacity-bgc

$toast-content-flex-direction = unset

$toast-content-padding-v = 15px
$toast-content-padding-h = 13px
$toast-content-bdr = 7px

$toast-icon-width = 24px
$toast-icon-height = 24px
$toast-icon-font-size = $font-size-3xl

$toast-tip-line-height = 18px
$toast-tip-font-size = 15px
$toast-tip-margin-left = 6px
$toast-tip-margin-bottom = 0px
$toast-tip-max-width = 12em
$toast-tip-max-height = 40px

$toast-tip-font-weight = unset
